mixin players(list)
  table.table.table-striped
    thead
      tr
        th Rank
        th Player Name
        th Score
    tbody
      each indiv, i in list
        tr
          td= i + 1
          td
            a(href='/profiles/#{indiv.name}')= indiv.name
          td= indiv.score

div.row
  div.span8
    section#leaderboard
      h1 Top 10 players 
        small
          a(href='/stats/games') Show more...

      div.tabbable
        ul.nav.nav-tabs
          li.active
            a(href='#p-day', data-toggle='tab') Today
          li
            a(href='#p-week', data-toggle='tab') 7 days
          li
            a(href='#p-month', data-toggle='tab') Month
          li
            a(href='#p-alltime', data-toggle='tab') All time
        div.tab-content
          div.tab-pane.active#p-day
            +players(pDay)

          div.tab-pane#p-week
            +players(pWeek)

          div.tab-pane#p-month
            +players(pMonth)

          div.tab-pane#p-alltime
            +players(pAlltime)

    section#latest-games
      h1 Recent games 
        small
          a(href='/stats/games') Show more...

      each game in games
        div.row
          div.span2 Insert pic here
            p: a(href=game.getLink()) View game info
          div.span6
            table.table
              tbody
                tr
                  th Date
                  td= game.date
                tr
                  th Players
                  td= game.rankings.length
                tr
                  th Winner
                  td= game.getWinner().name
                tr
                  th Map
                  td= game.type

  div.span4
    include includes/sidebar
