block head
  if players.length > 0
    title #{players[0].name} wins | Savage Games | Minecraft Hunger Games Server
  else
    title Nobody wins | Savage Games | Minecraft Hunger Games Server

div.row
  div.span8
    h1 Savage Games Tournament Stats
      br
      small= game.prettyDate()

    table.table.table-striped.table-bordered
      thead
        tr
          th Rank
          th Player
          th Class
          th Time Played
          th Kills
          th Score
      tbody
        each ranking, i in game.rankings
          tr
            td= ranking.rank
            td
              a(href=players[i].getLink(), name=players[i].name_lower)= players[i].name
            td= ranking.class
            td= ranking.time
            td
              each kill in ranking.kills
                - var killPlayer = ids[kill]
                a(href=killPlayer.getLink())= killPlayer.name
                | , 
            td= ranking.score

  div.span4
    include ../includes/sidebar
