div.row
  div.span8
    h1 #{player.name}'s Savage Games Profile

    div.row
      div.span4
        img(src='http://s3.amazonaws.com/MinecraftSkins/#{player.name}.png')
      div.span4
        div#stats-gameplay
          table.table.table-striped.table-bordered
            caption
              h3 Gameplay Stats
            tbody
              tr
                th Games Played
                td= stats.gameplay.gamesPlayed
              tr
                th Time Alive
                td= stats.gameplay.timePlayed
              tr
                th Avg Time/Game
                td= stats.gameplay.averageTimeSurvived
              tr
                th Number of Wins
                td= stats.gameplay.numberOfWins
              tr
                th Top 10 Finishes
                td= stats.gameplay.top10Finishes
              tr
                th Best Finish
                td= stats.gameplay.bestFinish

        div#stats-pvp
          table.table.table-striped.table-bordered
            caption
              h3 PvP Stats
            tbody
              tr
                th Most Kills
                td= stats.pvp.mostKills // 4 kills (View)
              tr
                th Total Kills
                td= stats.pvp.totalKills
              tr
                th Average Kills
                td= stats.pvp.averageKills
              tr
                th Nemesis
                td= stats.pvp.mostKilledBy
              tr
                th Whipping Boy
                td= stats.pvp.mostKilled

    div.row
      div#recent-games
        table.table.table-striped.table-bordered
          caption
            h3 Last 25 Games Played
          thead
            tr
              th Game
              th Rank
              th Class
              th Kills
              th Killed By
              th Time Played
              th Score
          tbody
            each game in games
              - var ranking = game.getRankingOfPlayer(player._id)
              tr
                td: a(href=game.getLink()) View
                td= ranking.rank
                td= ranking.class
                td= ranking.kills.length
                if ranking.killer
                  td: a(href='/players/#{ranking.killer.name}')= ranking.killer.name
                else
                  td Winner
                td= ranking.time
                td= ranking.score

  div.span4
    include ../includes/sidebar
